<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Blogu User Panel</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-admin">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- LOGO -->
          <div class="col-md-2">
            <a href="/"><img class="logo" src="/images/news.jpg" /></a>
          </div>
          <!-- /LOGO -->
          <!-- LOGO-Out -->
          <div class="col-md-offset-9 col-md-1">
            <a href="/logout" class="admin-logout">logout</a>
          </div>
          <!-- /LOGO-Out -->
        </div>
      </div>
    </div>
    <!-- /HEADER -->
    <!-- Menu Bar -->
    <div id="admin-menubar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="admin-menu">
              <li>
                <a href="/admin/post" class="<%= currentPath === '/admin/post'? 'active' : '' %>">Post</a>
              </li>
              <li>
                <a href="/admin/category" class="<%= currentPath === '/admin/category'? 'active' : '' %>">Category</a>
              </li>
              <!-- <li>
                <a href="/admin/user">Users</a>
              </li> -->
            </ul>
            <ul>Welcome <%= username %></ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Menu Bar -->
  </body>
</html>
